h1 {
    font-family: Proxima Nova ;
    src: url ('font/proxima/Proxima-Nova-Blakc.otf');
    font-weight: 700;
}
h2 {
    font-family: Proxima Nova ;
    src: url ('font/proxima/Proxima-Nova-Blakc.otf');
}
h3 {
    font-family: Proxima Nova ;
    src: url ('font/proxima/Proxima-Nova-Blakc.otf');
}
h4 {
    font-family: Proxima Nova ;
    src: url ('font/proxima/Proxima-Nova-Blakc.otf');
}
h5 {
    font-family: Proxima Nova ;
    src: url ('font/proxima/Proxima-Nova-Blakc.otf');
}
h6 {
    font-family: Proxima Nova ;
    src: url ('font/proxima/Proxima-Nova-Blakc.otf');
}
p {
    font-family: Proxima Nova Light;
    font-weight: 900;
    font-size: 14pt;
}